<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Distribuciones Galvar</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  </head>

  <body>
    <nav>
      <div class="nav-buttons">
        <a href="{{ url_for('principal') }}html/buy.html"
          ><button><i class="fas fa-shopping-cart"></i> Comprar</button></a
        >
      </div>
      <a href="{{ url_for('principal') }}html/login.html"
        ><button class="cerrar">
          <i class="fas fa-sign-out-alt"></i> Cerrar Sesión
        </button></a
      >
    </nav>
    <aside>
      <a href="{{ url_for('principal') }}html/compras.html"
        ><button><i class="fas fa-shopping-bag"></i> Compras</button></a
      >
      <a href="{{ url_for('principal') }}html/perfil.html"
        ><button><i class="fas fa-user"></i> Perfil</button></a
      >
      <a href="#top"
        ><button><i class="fas fa-arrow-up"></i> Volver Al Inicio</button></a
      >
    </aside>
    <header>
      <section>
        <h1>
          ¡Nos alegra volver a darte la bienvenida
          <span id="nombre-usuario">{{ cuenta }}</span>!
        </h1>
      </section>

      <div>
        <h2>DISTRIBUCIONES GALVAR</h2>
      </div>
    </header>

    <main>
      <div class="search-container">
        
      </div>
      <section id="contenedor">

        {% for categoria in categorias %}

        <a href="{{ url_for('productos', categoria=categoria.nombre) }}">
          <article>
            <img src="{{ categoria.imagen }}" alt="Imagen de {{ categoria.nombre }}">
            <h3>{{ categoria.nombre }}</h3>
          </article>
        </a>
        {% endfor %}

      </section>
    </main>

    <footer>
      <h2 class="center">¡PRÓXIMAMENTE MÁS PRODUCTOS!</h2>
      <p class="maintenance-message">
        <i class="fas fa-tools"></i> ¡La fidelización por puntos aún está en
        mantenimiento!<br />
        ¡Muy Pronto!
      </p>
      <button class="contact-button">
        <i class="fab fa-whatsapp"></i> Contacto: 320 818 6026
      </button>
      <br />
      &copy; 26 mayo 2025 - Distribuciones Galvar. Todos los derechos reservados
    </footer>
  </body>
</html>